body {
    margin: 100px 20%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
}
#section-2 {
    display: none;
}
ul.questions {
    display: inline-block;
    width: 100%;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
ul.questions li {
    position: relative;
    display: inline-block;
    padding: 2rem;
    width: 86%;
    padding: 5% 7%;
    transition: 0.3s;
    overflow-x: hidden;
    font-size: 1.3em;
}
ul.questions li:hover {
    background: #EEEEEE
}
ul.questions li:hover .cancel{
    left: 2.5%;
}
ul.questions li * {
    display: inline;
}
ul.questions li input[type='text']{
    outline: none;
    border: none;
    background: none;
    border-bottom: solid 2px #5939f9;
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-align: right;
}
ul.questions li select {
    outline: none;
    border: none;
    background: none;
    border-radius: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    border-bottom: solid 2px #5939f9;

    float: right;
    text-align: right;
}
.numerical {
    width: 10%;
    min-width: 3rem;
}
.valid {
    border-color: rgb(88, 211, 88) !important;
}
.long-form {
    display: block;
    width: 100%;
    margin-top: 10px;
    text-align: left !important;
    float: left !important;
}
.cancel {
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
    transition: 0.3s;
    color: gray
}
.cancel:hover {
    color: #ff6060;
    cursor: pointer;
}
button{
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0px;
    color: white;
    padding: 3% 10%;
    font-size: 1.3em;
    margin: 5px 0px;
    background: #5939f9;
    font-family: 'Roboto', sans-serif;
    transition: 0.3s;
}
button:hover{
    cursor: pointer;
    transform: translateY(3px);
}
button:disabled {
    background: lightgray !important;
}
button:disabled:hover {
    cursor: default;
    transform: none;
}
#partners-submit {
    background: rgb(88, 211, 88);
}
span.warning{
    display: block;
    color: red;
    font-size: 0.8em;
}
